{% extends 'base.html' %}

{% block title %} <h1>User Details</h1> {% endblock %}

{% block content %}
<ul>
    Username: <b>{{ user.username }}</b><br>
    Email: <b>{{ user.email }}</b><br>
    Full Name: <b>{{ user.first_name }} {{ user.last_name }}</b>
</ul>

<form>
    <button formmethod="GET" formaction="/login">Logout</button>
</form>

<form>
    <button formmethod="GET" formaction="/users/{{ user.username }}/feedback/add">Feedback</button> <br>
    <button formmethod="POST" formaction="/users/{{ user.username }}/delete">Delete</button>
</form>


{% for feedback in user.feedback %}

<h2>Feedback</h2>
<p>{{ feedback.title }}</p>
<small>{{ feedback.content }}</small>

<form>
    {{form.hidden_tag()}}
    <button formmethod="GET" formaction="/feedback/{{ feedback.id }}/update">Edit</button><br>
    <button formmethod="POST" formaction="/feedback/{{ feedback.id }}/delete">Delete</button>
</form>

{% endfor %}
{% endblock %}